* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #521c1c;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem; /* 15px */
    height: 85px;
}

.header__img {
    height: 70px;
    color: gray;
}

.main {
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;
}

/* .header--list {
    display: flex;
    justify-content: space-between;
    width: 300px;
} */

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 15px;
    list-style: none;
}
.main-nav__item {
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
}
.main-nav__item a {
    font-size: 1.2rem;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: darkolivegreen;
}
.main-nav__item a:active {
    color: darkorange;
}

/* .main-section {
    color: white;
} */

.main-title {
    font-size: 40px;
    font-weight: bolder;
    color: #5c1010;
    padding: 25px 25px 10px 25px;
    text-align: center;
}

.list {
    margin: 20px;
    list-style: none;
}

.list__item h2{
    color: #5c1010;
}

/* .list__item {
    
} */

.list--second {
    list-style: decimal;
    margin: 30px;
}

.list__item--second img {
    width: 200px;
    height: 150px;
    margin: 10px;
}

/* .main-nav__item a::after {
    content: " | ";
} */

.secondary-section h4 {
    font-size: 25px;
    font-weight: bold;
    color: #5c1010;
    margin-left: 30px;
    margin-top: 40px;
}

.secondary-section img {
    width: 500px;
    height: 300px;
    margin: 25px 60px 15px 60px;
}

.secondary-section__figure figcaption {
    padding: 10px 60px 25px 60px;
}