* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Glory', sans-serif;
}

.header {
  font-size: 1.6rem;
  background-color: #bfd200;
  width: 100%;
  height: 10.1vh;
  justify-content: space-between;
  display: flex;
  padding: 0.8rem;
}

.header .header__logo {
  width: 6.1rem;
  height: 3.9rem;
  background-color: #243e36;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-left: 0.3rem;
}

.header .header__logo img{
  width: 5.1rem;
  height: 3rem;
  background-color: #243e36;
  display: inline-block;
}


.header .header__title {
  width: 7rem;
  background-color: #157d5e;
  display: inline-block;
  text-align: center;
  padding: 0.2rem;
  position: absolute;
  left: 7.3rem;
  border-radius: 0.8rem;
  margin-left: 0.3rem;
  font-weight: bold;
  color: #bfd200;
}

.header .nav__list {
  display: inline-block;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  font-size: 1.7rem;
  margin-right: 0.8rem ;
}

.header .nav .nav__list .nav__item{
  display: inline-block;
  justify-content: space-between;
  padding: 12px;
  color: #243e36;
  font-weight: 700;
}

.main {
  width: 100%;
  display: inline-block;
}

.main__sidebar {
  background-color: #243e36;
  width: 20vw;
  min-width: 1.1rem;
  height: 82.2vh;
  float:left;
  overflow: auto;
  padding-top: 0.6rem;
  /* display: inline-block; */
}

.main__sidebar .main__aside {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0.2rem;
}

.main__sidebar .main__aside .main__element {
  background-color: #bfd200;
  height: 7rem;
  margin: 1.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  display: flex;
}


.main__sidebar .main__aside .main__element img {
  height: 90%;
  width: 63%;
  margin: 0.26rem 0.4rem 0 0.4rem;
  border-radius: 0.4rem;
}

.main__sidebar .main__aside .main__element p {
  /* background-color: #bfd200; */
  width: 35%;
  height: 90%;
  font-size: 1.55rem;
  font-weight: 500;
  margin: 0.15rem 0.15rem 0.15rem 0.4rem;
  padding-top: 1.68rem;
}

.main__sidebar .main__aside .main__element--large_p p{
  padding-top: 0.95rem;
}

.main__content {
  font-size: 1.6rem;
  background-color: #e0eec6;
  /* width: 80vw; */
  width: calc(100% - 20vw);
  height: 82.2vh;
  padding: 2.3rem;
  float:right;
  overflow: auto;
  text-align: justify;
  color: #243e36;
  font-weight: 400;
  /* display: inline-block; */
}

.main__content .main__article {
  background-color: #7ca982;
  /* width: calc(((100% - 15vw))/4); */
  width: 18rem;
  height: 60%;
  display: inline-block;
  margin: 4.5rem 2rem;
  position: relative;
  left: 1.2rem;
  border-radius: 1rem;
}

.main__article img {
  width: 80%;
  height: 65%;
  display: inline-block;
  margin: 1.8rem;
  border-radius: 1rem;
}

.main__article p {
  width: 85%;
  height: 14%;
  text-align: center;
  margin: 1.4rem;
  position: absolute;
  bottom: 0.65rem;
}

.main__article span {
  position: absolute;
  bottom: 1.5rem;
  left: 6.9rem;
}

.footer {
  /* background-color: #7ca982; */
  background-color: #bfd200;
  width: 100%;
  height: 7.1vh;
  display: inline-block;
}